<html>
    <head>
        <title>CIS 121</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
        <style>
        /*    body { font-family: Helvetica;*/
        /*           line-height: 1.44;*/
        /*           margin-right: 50px;*/
        /*           margin-left: 50px;*/
        /*           border: 1px solid black;*/
        /*           background-color: #FEFEFE;*/
        /*    }*/
            
        /*    #darkRoom {*/
                
        /*        color: green;*/
        /*    }*/
            
        /*    .muted { color: gray; }*/
            
        </style>
    </head>
    <body>
        <h1>
            {% block title %}
            {% endblock %}
        </h1>
{% block content %}
{% endblock %}
    </body>
</html>