<style>
    
    
</style>
<h1>Hello {{ name }}</h1>
<h1>Heading 1</h1>
<h2>Heading 1</h2>
<h3>Heading 1</h3>
<h4>Heading 1</h4>
<h5>Heading 1</h5>
<h6>Heading 1</h6>
<link href="" rel="stylesheet" />
<style>
    
</style>

<div class="row">
    <div class="col-md-3">
        
    </div>
    
</div>
<p>
  You enter a dark room
</p>
<a href="/mileage/other">Turn on light</a>
<br>
<a href="/mileage/poop">Squat</a>

<pre style="margin-top:50px;width:50%">
    This is a paragraph
    
    The quick brown fox jumped over 
    the lazy dog </pre>

<img src="http://i.imgur.com/aw6jHlA.png"
style="height:100px; width:100px;" />

<form>
    Name <input type="text" />
    
    <textarea rows="10" cols="80">
        
        
    </textarea>
    
</form>
  <article class="user_review">
      <p>Way too scary for me.</p>
      <footer>
        <p>
          Posted on <time datetime="2015-05-16 19:00">May 16</time> by Lisa.
        </p>
      </footer>
    </article>
    