<form method="POST" action="/mileage/poop">
{% csrf_token %}
<textarea name="charlieTheChooChoo" rows="10" cols="40" style="background: yellow"> </textarea>

<select name="color">
    <option>Red</option>
    <option>Green</option>
</select>

<br>
<input type="radio" name="choice1" value="yes">Yes
<input type="radio" name="choice2" value="no">No
<br>
<input type="text" name="firstName">
<br>
<input type="checkbox" name="rememberMe" value="1">Remember Me?


<button>DO SOMETHING DAMNIT</button>
</form>

You phone number is <span style="color:red">555-2233</span>


<div style="background:blue;padding: 25px">
    You address is in north liberty
</div>